@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Cards
/* 3. Navbar
/* 4. Containers
/* 5. images
/* 6. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/



/**********************************/
/* 1. Estilos gerais
/**********************************/

body {
    background-color: rgb(3,103,135);
    background: linear-gradient(90deg, rgba(3,103,135,1) 0%, rgba(0,178,234,1) 42%, rgba(109,178,232,1) 93%);;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/**********************************/
/* 2. Initial page
/**********************************/

.game h1{
    text-align: center;
    margin-top: 15%;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 6rem;
    font-family: 'Quicksand';
    text-shadow: rgba(51, 51, 51, 20%) 0 -8px;
}

.image img{
    width: 15%;
    border-radius: 300px;
    margin-left: 70rem;
    margin-top: 1rem;
    opacity: .5;
    box-shadow: 5px 5px 30px 0 rgba(51, 51, 51, 40%);
}

/**********************************/
/* 2. Cards
/**********************************/

.container-up {
    display: flex;
    margin-top: 2rem;
    padding: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
}

.container-down {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card i {
    font-size: 90px;
    color: #ffffff;
    text-align: center;
    margin-top: 3rem;
}

.flip-card h2 {
    color: #ffffff;
    margin-top: 2rem;
    text-transform: uppercase;
    font-family: 'Quicksand';
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    background-image: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(234,97,0,1) 42%, rgba(255,149,0,1) 93%);
}

.flip-card-front img {
    width: 220px;
    margin-top: 1rem;
}

.flip-card-back {
    background-image: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(234,97,0,1) 42%, rgba(255,149,0,1) 93%);
    color: #ffffff;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 140px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}

.exit {
    position: absolute;
    display: flex;
    margin-left: 82rem;
    margin-top: -2rem;
}

.exit button {
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(315deg, rgba(234,97,0,1) 42%, rgba(255,149,0,1) 93%);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Quicksand';
    box-shadow: 5px 5px 30px 0 rgba(51, 51, 51, 40%);
}

/**********************************/
/* 2. Game Memorize
/**********************************/

.title {
    text-align: center;
    margin-top: 4rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: Quicksand;
    color: #ffffff;
    font-weight: bold;
    text-shadow: rgba(51, 51, 51, 20%) 0 -6px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.image-container img {
    width: 900px;
    border-radius: 8px;
    box-shadow: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}

#timer {
    background-color: #ffffff;
    width: 120px;
    height: 50px;
    font-size: 3rem;
    font-family: 'Iceland', cursive;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-left: 20rem;
    margin-bottom: -4rem;
    margin-top: 4rem;
    border-radius: 10px;
}

/* TESTE */

.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.question-container{
    margin: 10px;
    padding: 5px;
    width: 40vw;
    height: 20vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
    border-radius: 20px;
    margin-top: 3.4rem;
    box-shadow: 5px 5px 30px 0 rgba(51, 51, 51, 40%);
}

.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 5px;
    padding: 5px;
    width: 40vw;
    height: 50vh;
    background-color: #9eb1b3;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 30px 0 rgba(51, 51, 51, 40%);
}

.option{    
    padding: 10px;
    width: 39vw;
    height: 9vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    font-family: Quicksand;
    font-weight: bold;
    text-transform: uppercase;
}

.option:hover{
    background-image: linear-gradient(315deg, rgba(234,97,0,1) 42%, rgba(255,149,0,1) 93%);
}


.evaluate,.next{
    padding: 5px;
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    font-family: Quicksand;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    width: 40vw;
    height: 10vh;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 30px 0 rgba(51, 51, 51, 40%);
}


.evaluate{
    background-color: #50DBB4;
    margin-bottom: 6rem;
}

/* 
.next{
    color: white;
    background-color: #BF3325;
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    font-family: Quicksand;
    font-weight: bold;
    text-transform: uppercase;
}
 */